n8n/workflow-order-automation.json
{
  "name": "AI Agent Agency - Order Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-received",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Order Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "order-received"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "service-type",
              "leftValue": "={{ $json.body.order.service_id }}",
              "rightValue": "youtube",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "service-router",
      "name": "Service Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// 最適なエージェントを選択\nconst serviceId = $input.first().json.body.order.service_id;\n\nconst agentMap = {\n  'youtube': ['AI-CONTENT-01', 'AI-CONTENT-02', 'AI-CONTENT-03'],\n  'content': ['AI-CONTENT-04', 'AI-CONTENT-05', 'AI-CONTENT-06'],\n  'sales': ['AI-SALES-01', 'AI-SALES-02', 'AI-SALES-03'],\n  'automation': ['AI-TECH-01', 'AI-TECH-02']\n};\n\nconst agents = agentMap[serviceId] || ['PRIME-AI'];\nconst selectedAgent = agents[Math.floor(Math.random() * agents.length)];\n\nreturn [{\n  json: {\n    order: $input.first().json.body.order,\n    assignedAgent: selectedAgent\n  }\n}];"
      },
      "id": "agent-selector",
      "name": "Select Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "matchType": "allFields",
        "fields": [
          {
            "fieldId": "status",
            "fieldValue": "assigned"
          },
          {
            "fieldId": "assigned_agent",
            "fieldValue": "={{ $json.assignedAgent }}"
          },
          {
            "fieldId": "assigned_at",
            "fieldValue": "={{ $now }}"
          }
        ]
      },
      "id": "update-order",
      "name": "Update Order",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "supabaseApi": "supabase-credentials"
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "activity_logs",
        "fields": [
          {
            "fieldId": "agent_id",
            "fieldValue": "={{ $json.assignedAgent }}"
          },
          {
            "fieldId": "agent_name",
            "fieldValue": "={{ $json.assignedAgent }}"
          },
          {
            "fieldId": "action",
            "fieldValue": "タスク割当"
          },
          {
            "fieldId": "details",
            "fieldValue": "={{ '注文 ' + $json.order.order_id + ' を担当' }}"
          }
        ]
      },
      "id": "log-activity",
      "name": "Log Activity",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "supabaseApi": "supabase-credentials"
      }
    },
    {
      "parameters": {
        "jsCode": "// YouTube運用タスク実行\nconst order = $input.first().json.order;\n\n// 実際のAI処理をシミュレート\nconst tasks = [\n  '企画立案',\n  '脚本作成',\n  '動画編集',\n  'サムネイル作成',\n  'SEO最適化',\n  '投稿スケジュール設定'\n];\n\nreturn tasks.map((task, index) => ({\n  json: {\n    orderId: order.order_id,\n    task: task,\n    progress: Math.round(((index + 1) / tasks.length) * 100)\n  }\n}));"
      },
      "id": "youtube-tasks",
      "name": "YouTube Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [850, 400],
      "webhookId": "wait-progress"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/webhook/n8n/progress-update",
        "body": {
          "order_id": "={{ $json.orderId }}",
          "progress": "={{ $json.progress }}",
          "agent_id": "AI-CONTENT-01"
        }
      },
      "id": "update-progress",
      "name": "Update Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Order processed\", \"assignedAgent\": $json.assignedAgent}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "Order Webhook": {
      "main": [
        [
          {
            "node": "Service Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service Router": {
      "main": [
        [
          {
            "node": "Select Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "YouTube Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Agent": {
      "main": [
        [
          {
            "node": "Update Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Activity": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Tasks": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Update Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["ai-agent", "automation"]
}
